#node_modules/
#dist/
#.env
#.env.local
#.env.*.local
#*.log
#npm-debug.log*
#.DS_Store
#.vite/

node_modules/
dist/
.env
.env.local
.env.*.local
*.log
npm-debug.log*

# Uploads & videos
videos/
*.mp4
*.avi
*.mov

# Python
__pycache__/
venv/

# Flask
instance/
*.pyc

# Build
build/


# OS
.DS_Store
.vite/
